.metadata {
  width: 37.5%;
  max-height: 100%;
  background-color: #000;

  .table {
    width: 100%;
    height: 100%;
    background-color: #212121;

    display: flex;
    align-items: center;

    background-color: #212121;
    padding: 2px 0px;
  }

  padding: 8px 16px;
  box-sizing: border-box;
}

.tinyHeader {

  &>div {
    max-height: 24px;
    line-height: 24px;
  }
}

.tableLarge {
  position: relative;
  width: 100%;
  height: 75%;

  .dataTable {
    display: flex;
    flex-direction: column;

    height: 100%;
  } 

  background-color: #212121;
  margin-top: 16px;
}

  