.modalContent {

  width: 100%;
  height: 100%;

  .import {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .upload {
      margin: 0 20px;
    }

    .highlight {
      color: #00bcd4;
      font-weight: 500;
    }
  }

  .data {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 90%;

    .input {
      width: 30%;
      height: 100%;
    }

    .vgpTable {
      width: 36%;
      height: 100%;

      margin: 0 24px;
    }

    .graphs {
      width: 34%;
      height: 100%;
      margin-top: 16px;
    
      background-color: #000;
    
      .graphLarge {
        position: relative;
        width: 100%;
        height: 100%;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
        background-color: #212121;
      }
    
      box-sizing: border-box;
    }
  }
  
}