
/* --------------------------------------------------------------*/
/* main grid*/
/* --------------------------------------------------------------*/
.main_container{
  display: grid;
  grid-template-columns: 8fr 6fr 3fr;
  grid-template-rows: 7fr 3fr;
  grid-gap: 10px;
  height: 100vh;
  overflow:auto;
  /* grid-template-rows: minmax(0, 500px); */
  /* justify-content: center;
  justify-items: center; */
}

.common-container {

  background-color: white;
  box-shadow: rgba(34, 60, 80, 0.1) 0px 0px 10px 1px;

  overflow: auto;
  position: relative;
  padding: 10px;

}

.table_container{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.graph_container {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.sphere_container {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.table2_container{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.container {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}

@media screen and (max-width: 720px){
  .main_container{
    
    overflow: scroll;
    display: block;
    display: none;
    /* grid-template-columns: 2fr 3fr; */
    /* grid-template-rows: 6fr 2fr 6fr 2fr; */
    /* grid-gap: 5px; */
    /* height: 150vh;
    overflow: scroll; */


  }
  
  .common-container {
    background-color: white;
    box-shadow: rgba(34, 60, 80, 0.21) 0px 0px 10px 1px;
    overflow: auto;
    position: relative;
    padding: 10px;
    margin: 5px;
  
  }
  
  .table_container{
   height: 300px;
  }
  
  .graph_container {
    height: 300px;
  }
  
  .sphere_container {

  }
  
  .table2_container{
    height: 150px;
  }
  
  .container {
    height: 150px;
  }

  .interface{
    padding: 5px;
    height: 100vh;
    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-gap: 10px;
  }

  .graph_interface{
    /* display: block; */
    height: 12vh;
    padding: 5px;
  }
}

@media screen and (max-height: 580px){
  .main_container{
    
    overflow: scroll;
    display: block;
    display: none;
    /* grid-template-columns: 2fr 3fr; */
    /* grid-template-rows: 6fr 2fr 6fr 2fr; */
    /* grid-gap: 5px; */
    /* height: 150vh;
    overflow: scroll; */


  }
  
  .common-container {
    background-color: white;
    box-shadow: rgba(34, 60, 80, 0.21) 0px 0px 10px 1px;
    overflow: auto;
    position: relative;
    padding: 10px;
    margin: 5px;
  
  }
  
  .table_container{
   height: 300px;
  }
  
  .graph_container {
    height: 300px;
  }
  
  .sphere_container {

  }
  
  .table2_container{
    height: 150px;
  }
  
  .container {
    height: 150px;
  }

  .interface{
    padding: 5px;
    height: 100vh;
    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-gap: 10px;
  }

  .graph_interface{
    /* display: block; */
    height: 200px;
    padding: 5px;
  }
}


/* --------------------------------------------------------------*/
/* intefrace grid*/
/* --------------------------------------------------------------*/

.sphere_interface{
  border: 3px solid #999999;
  border-radius: 6px;
  padding: 10px;
  height: 235px;
  width: 90%;

}
.sphere_interface:hover{
  border: 3px solid #4690db;
  border-radius: 12px;
}

.graph_interface{
  height: 57vh;
  width: 100%;
  border: 3px solid #999999;
  border-radius: 6px;
  padding: auto;
}

.graph_interface:hover{
  border: 3px solid #4690db;
  border-radius: 12px;

}

/* --------------------------------------------------------------*/
/* INTERFACE */
/* --------------------------------------------------------------*/

.interface{
  border: 3px solid #999999;
  border-radius: 6px;
  padding: 2.5vh;
  height: 17.5vh;
  display: grid;
  grid-template-columns: 5fr 5fr 3fr;
  grid-template-rows: 1fr 1fr 2fr;
  grid-gap: 10px;
}

.interface:hover{
  border: 3px solid #4690db;
  border-radius: 12px;
}



.item{
  /* background-color: #73bee9; */
  border-radius: 5px;
}

.select1-item {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}
.select2-item {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.select3-item {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.select4-item {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.button-item {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  justify-self: center;
  align-self: center;
}

.info-item {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}



.my_text {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 18px;

}

.info {
  font-size: 14px;
}

.button {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  transition-duration: 0.15s;
  border: none;
  color: white;
  background: #4690db;
  padding: 6px;
  text-align: center;
  
  border-radius: 8px;
  height: 5.5vh;
  transition: transform 0.6s ease-in-out;
}

.button:hover {
  background-color: #1975d2;
  color: white;
  border-radius: 3px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.45);
  transition: transform 0.6s ease-in-out;
}

.button:active {
  background-color: #e2e2e2;
  box-shadow: none;
  transition: transform 0.6s ease-in-out;
}

.my_select {

  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  background: #e2e2e2;
  background-image: none;
  flex: 1;
  padding: 5px 12px;
  color: #202020;
  cursor:pointer;
  border-radius: 3px;
  transition: transform 0.6s ease-in-out;
}

.my_select:hover {
  transition: transform 0.6s ease-in-out;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.35);
}


/* --------------------------------------------------------------*/
/* CHECKBOX */
/* --------------------------------------------------------------*/

.my_input {
  display: block;
  position: relative;
  padding-left: 27px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.my_input input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.my_input:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.my_input input:checked ~ .checkmark {
  background-color: #4690db;
}
.my_input input:checked:hover ~ .checkmark {
  background-color: #1975d2;
  border-radius: 2px;
  transition-duration: 0.35s;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.my_input input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.my_input .checkmark:after {
  left: 7px;
  top: 2px;
  width: 3px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


