body{
    padding: 50px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #202020;
}
.box{
    display: grid;
    grid-template-columns: repeat();
    justify-items: center;
}

.svg{
}


.interface{
    width: 500px;
    height: 350px;
    border: 3px solid #999999;
    border-radius: 6px;
    margin: 0px 20px 0px 0px;
    padding: 10px;
}
.interface:hover{

    width: 500px;
    height: 350px;
    border: 6px solid #369e9e;
    border-radius: 12px;
    margin: -3px 15px -4px -3px;
}



.data {
  text-align: center;
  font-size: 1rem;
  margin: 2px 2px 5px 2px;
}
.my_scroll {
    overflow: auto;
    margin-top: 0px;
    padding: 0;
    width: 520px;
    height: 370px;
}
.my_scroll:hover {
  width: 520px;
  height: 370px;
  border: 6px solid #999999;

}



.container {
  float: left;
}
.my_text {
  text-align: center;
  font-size: 1rem;
  margin: -2.6px 0px 5px 0px;
}


.button {
   font-size: 16px;
   font-family: 'Open Sans', sans-serif;
    transition-duration: 0.15s;
    border: none;
    color: white;
    background: #71cd94;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 3px 0px #999999;
    border-radius: 8px;
    margin: 6px;
    width: 235px;

}

.button:hover {
    background-color: #38ba69;
    color: white;
    border-radius: 3px;


}

.button:active {
    background-color: #e2e2e2;

    box-shadow: 0px 0px 0px 0px #999999;
}


select {
    width: 235px;
   font-size: 16px;
   font-family: 'Open Sans', sans-serif;
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   border:0!important;
   background: #e2e2e2;
   background-image: none;
   flex: 1;
   padding: 5px 12px;
   color: #202020;
   cursor:pointer;

   border-radius: 3px;
   margin: 5px
}




.my_input {
  display: block;
  position: relative;
  padding-left: 27px;
  margin: 5px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.my_input input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.my_input:hover input ~ .checkmark {
  background-color: #ccc;

}

/* When the checkbox is checked, add a blue background */
.my_input input:checked ~ .checkmark {
  background-color: #71cd94;
}
.my_input input:checked:hover ~ .checkmark {
  background-color: #38ba69;
  border-radius: 2px;
  transition-duration: 0.35s;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;

}

/* Show the checkmark when checked */
.my_input input:checked ~ .checkmark:after {
  display: block;

}

/* Style the checkmark/indicator */
.my_input .checkmark:after {
  left: 7px;
  top: 2px;
  width: 3px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

}





table, tr, th {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    border-collapse:collapse;
    white-space: pre;
}
td {
   border-bottom: 3px solid #999999;
   border-right: 3px solid #999999;
   padding: 11px 0px 11px 0px;
   text-align: center;
   width: 80px;

}
.coords {
   width: 264px;
}

th:hover{
    background: rgba(153, 204, 255, 0.5);

}

tr:hover{
    background: rgb(245, 245, 245);
}
.table_head:hover{
    background: rgba(153, 204, 255, 0.5);
}

/* Цвет полосы прокрутки */
::-webkit-scrollbar {
  width: 5.5px; /* ширина полосы прокрутки */
}

/* Фон полосы прокрутки */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Цвет области под указателем */
::-webkit-scrollbar-thumb {
  background-color: #999999;

}

/* Цвет области под указателем при наведении */
::-webkit-scrollbar-thumb:hover {
  background-color: #999999;

}
