.appContainer {
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  
  background-color: #000;
}

.top {
  max-height: 10%;
  min-width: 100%;

  display: flex;
  flex-direction: row;
  background-color: #000;

  .settings {
    width: 37.5%;

    background-color: #000;

    .appSettings {
      width: 100%;
      height: 100%;
      
      display: flex;
      align-items: center;

      background-color: #212121;
    }

    padding: 8px 16px;
    box-sizing: border-box;
  }

  .navigation {
    width: 62.5%;
    
    background-color: #000;

    .pages {
      width: 100%;
      height: 100%;
      
      display: flex;
      align-items: center;

      background-color: #212121;
    }

    padding: 8px 16px;
    box-sizing: border-box;
  }
}