.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.upload {
  width: 620px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 24px;
  width: 100%;
  height: 100%;

  border: 1px dashed #474c50;
  border-radius: 12px;

  box-sizing: border-box;
}