.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 8px 0px;

  & .settings {
    position: absolute;
    top: calc(50% - 20px);
    right: 28px;

    width: 80px;
    height: 40px;

    display: flex;
    flex-direction: row;
    // align-items: flex-end;
  }
}