body{
    padding: 50px;
}
.box{
    display: grid;
    grid-template-columns: repeat();
    justify-items: center;
}

.svg{
    width: 500px;
    height: 350px;
    border: 3px solid #999999;
    margin: 10px;
}
svg:hover {
   border: 3px solid #6897bb;



}
.container {
  float: left;
}
.my_text {
  text-align: center;
  font-size: 1.5rem;
  margin: 2px;
}
svg #AreaSVG ,
svg #RiverSVG {
display: none;
}
#areaCbx:checked ~ svg #AreaSVG { display: block; }
#riverCbx:checked ~ svg #RiverSVG { display: block; }
